/* verde */
/* nraranja */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 90px;
}

body {
  font-family: "calibri";
}

a {
  text-decoration: none;
  color: rgb(23, 186, 97);
  font-weight: bold;
}

.topheader {
  box-shadow: 0 4px 5px rgb(186, 186, 186);
  position: fixed;
  background-color: rgb(253, 253, 253);
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

/**MENU**/
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 0 15px;
}
.menu li a {
  color: rgb(255, 94, 0);
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
}
.menu li .login {
  color: rgb(23, 186, 97);
  font-size: 22px;
  border-left: 1px solid rgb(23, 186, 97);
  padding-left: 25px;
}

/*** FOOTER ***/
.contenedor-footer {
  display: block;
  align-items: center;
}
.contenedor-footer .redes {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10%;
}
.contenedor-footer .copyright {
  display: flex;
  justify-content: center;
}

/**** SECC INDEX ****/
.main_index {
  height: 100vh;
  background-image: url("../assets/img/index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_index h1 {
  padding-top: 350px;
  font-size: 100px;
}
.main_index h2 {
  font-size: 40px;
}
.main_index span {
  color: rgb(255, 94, 0);
  font-size: 35px;
}
.main_index p {
  font-size: 12px;
}

/**** SECC SUC ****/
.main_suc {
  height: 86vh;
  background-image: url("../assets/img/sucursales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
}
.main_suc .title {
  color: #fff;
  padding: 0;
  font-size: 30px;
  text-decoration: underline;
}
.main_suc .vid {
  width: 50%;
  height: 59%;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
  border-radius: 20px;
  border: 1px solid black;
  object-fit: cover;
}
.main_suc .vid iframe {
  object-fit: cover;
  border-radius: 20px;
}
.main_suc .form-suc {
  font-size: 18px;
}

/**** SECC SOBRE NOSOTROS ****/
.main_us {
  height: 55vh;
  display: flex;
  background-image: url("../assets/img/us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20%;
  border-radius: 20px;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
}
.main_us .historia-tbl-mbl {
  display: none;
}

/*CARRUSEL*/
.contenedor_carrusel {
  width: 105%;
  display: flex;
  flex-direction: row;
  margin-left: -4.5em;
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.h2-carrusel {
  margin: 4.5%;
  font-size: 30px;
  text-decoration: underline;
}
.h2-carrusel span {
  color: rgb(23, 186, 97);
}

.carrusel {
  height: 93px;
}

#slider {
  width: 100%;
  background-image: url("../assets/img/sliderObsSoc.png");
  animation: slider 20s infinite linear;
}

@keyframes slider {
  to {
    background-position: 2000px;
  }
}
/**** SECC CONTACTO ****/
.main_contact {
  height: 80vh;
}

.form-contact {
  font-size: 16px;
  font-weight: bold;
  line-height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "box-c1 box-c2" "box-c1 box-c2" "box-c1 box-c2" "box-c3 box-c3";
  background-image: url("../assets/img/contacto.jpg");
  background-position: center;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  border-radius: 20px;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
  padding-top: 2%;
}

.box-c1 {
  grid-area: box-c1;
}

.box-c2 {
  grid-area: box-c2;
  padding: 0;
  line-height: 10px;
}

.box-c1,
.box-c2 {
  display: grid;
  justify-content: center;
  justify-self: center;
}

.box-c1 p,
.box-c2 p {
  justify-self: center;
  padding-bottom: 10px;
}

.box-c3 {
  grid-area: box-c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 8px;
}
.box-c3 .reset,
.box-c3 .submit {
  width: fit-content;
}

/**** SECC PRESTACIONES ****/
.main_prest {
  width: 100%;
  height: 160vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 91, 0, 0.5), #fff);
}
.main_prest .prest-txt {
  margin-top: 9vh;
  font-size: 40px;
  color: #fff;
  text-shadow: 5px 5px black;
}
.main_prest .prest3 {
  margin-top: 52px;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
}
.main_prest .prest3 p {
  padding-inline-start: 10px;
  font-size: 30px;
}
.main_prest .prest1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.main_prest .prest1 img {
  margin: 10px;
  border-radius: 10%;
  box-shadow: 10px 10px 1em rgb(255, 94, 0);
}
.main_prest .prest2 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.main_prest .prest2 img {
  margin: 10px;
  border-radius: 10%;
  box-shadow: 10px 10px 1em rgb(0, 81, 0);
}

.main_enf,
.main_kine,
.main_nutri {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.main_enf .container-enf,
.main_enf .container-nutri,
.main_kine .container-enf,
.main_kine .container-nutri,
.main_nutri .container-enf,
.main_nutri .container-nutri {
  width: 75%;
  margin-top: 10vh;
  border: 4px solid green;
  box-shadow: 5px 5px 15px green;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}
.main_enf .container-enf img,
.main_enf .container-nutri img,
.main_kine .container-enf img,
.main_kine .container-nutri img,
.main_nutri .container-enf img,
.main_nutri .container-nutri img {
  float: right;
  width: 50%;
}
.main_enf .container-enf p,
.main_enf .container-nutri p,
.main_kine .container-enf p,
.main_kine .container-nutri p,
.main_nutri .container-enf p,
.main_nutri .container-nutri p {
  color: black;
}

.main_enf {
  background: url("../assets/img/prestaciones.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.main_kine {
  background: url("../assets/img/kine3.png");
  background-size: cover;
}

.main_nutri {
  background: url("../assets/img/nutri2.jpg");
  background-size: contain;
}

.container-kine {
  width: 75%;
  margin-top: 10vh;
  border: 4px solid green;
  box-shadow: 5px 5px 15px green;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.container-kine .kinesioterapia,
.container-kine .fisioterapia {
  padding: 20px;
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
.container-kine .kinesioterapia img,
.container-kine .fisioterapia img {
  float: right;
  width: 75%;
  padding: 20px;
}

/******************************************************** TABLET 800px */
@media (max-width: 800px) {
  section[id] {
    scroll-margin-top: 90px;
  }
  .logo {
    padding-left: 20px;
  }
  .logo img {
    height: 50px;
  }
  .menu {
    height: 50px;
  }
  .menu li a {
    font-size: 12px;
  }
  .main_index {
    height: 100vh;
    background-image: url("../assets/img/index-tbl.jpg");
    background-size: cover;
  }
  .main_suc {
    height: 87vh;
    background-image: url("../assets/img/suc-tbl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    margin: 3em;
    box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
    padding-left: 3%;
  }
  .main_suc .title {
    color: rgb(23, 186, 97);
    text-shadow: 2px 2px #fff;
  }
  .main_suc .vid {
    margin-top: 5%;
    box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
    border-radius: 20px;
    border: none;
    object-fit: cover;
  }
  .main_suc .form-suc {
    color: #fff;
  }
  .main_us {
    height: 61vh;
    background-image: url("../assets/img/us-tbl.png");
    background-size: none;
  }
  .main_us .historia-tbl-mbl {
    display: none;
  }
  /**** SECC CONTACTO ****/
  .main_contact {
    height: 83vh;
  }
  .main_contact .form-contact {
    height: 50vh;
    line-height: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/contacto-tbl.jpg");
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    border-radius: 20px;
    margin: 3em;
    box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
    padding-top: 0%;
    margin-top: 10%;
    font-size: 20px;
  }
  /**** SECC PRESTACIONES ****/
  .main_prest {
    height: 145vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgb(255, 183, 0), #fff);
  }
  .main_prest .prest-txt {
    padding-top: 10px;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px black;
    margin-bottom: 0;
  }
  .main_prest .prest1 {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .main_prest .prest1 img {
    margin: 10px;
    border-radius: 10%;
    box-shadow: 10px 10px 1em purple;
  }
  .main_prest .prest2 {
    margin-bottom: 20vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 0;
  }
  .main_prest .prest2 img {
    width: 89%;
    box-shadow: 6px 6px 0.5em rgb(0, 81, 0);
    width: 75%;
    margin-left: 10%;
  }
  .main_prest .prest3 {
    margin-top: 0;
    width: 90%;
    margin-bottom: -15%;
  }
  .main_prest .prest3 p {
    padding-inline-start: 10px;
    font-size: 30px;
  }
}
/******************************************************** MOBILE 420 */
@media (max-width: 420px) {
  section[id] {
    scroll-margin-top: 65px;
  }
  .logo {
    padding-left: 0;
  }
  .main_index {
    height: 100vh;
    margin-top: 40px;
    background-image: url("../assets/img/index-mbl.jpg");
    background-size: cover;
    background-position: center;
  }
  .main_index h1 {
    padding-top: 350px;
    font-size: 50px;
    color: rgb(23, 186, 97);
  }
  .main_index h2 {
    color: rgb(23, 186, 97);
    font-size: 20px;
  }
  .main_suc {
    height: 87vh;
    background-image: url("../assets/img/suc-mbl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    margin: 3em;
    box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
    padding-left: 5%;
  }
  .main_suc .title {
    color: rgb(255, 94, 0);
    font-size: 25px;
  }
  .main_suc .vid {
    margin-top: 3%;
    box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
    border-radius: 20px;
    border: none;
    object-fit: cover;
  }
  .main_suc .form-suc {
    color: #fff;
  }
  /**** SECC SUCURSALES ****/
  .main_us {
    height: 70vh;
    background-image: none;
    box-shadow: none;
    padding-top: 0;
  }
  .main_us .carrusel-fijo {
    display: flex;
  }
  .main_us .historia-tbl-mbl {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .main_us .historia-tbl-mbl .txt-historia {
    font-size: 20px;
    margin-top: 70px;
  }
  .main_us .historia-tbl-mbl h2 {
    text-decoration: underline;
    font-size: 30px;
  }
  .main_us .historia-tbl-mbl h2 span {
    color: rgb(23, 186, 97);
    text-decoration: underline;
  }
  /**** SECC CONTACTO ****/
  .main_contact {
    /**** SECC SERVICIOS ****/
  }
  .main_contact .h2-carrusel {
    display: none;
  }
  .main_contact .h2-carrusel .carrusel {
    display: none;
  }
  .main_contact .h2-carrusel .form-contact {
    background-image: url("../assets/img/contacto-tbl.jpg");
    justify-content: center;
    align-items: center;
  }
  .main_contact .main_prest {
    height: 145vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgb(255, 183, 0), #fff);
  }
  .main_contact .main_prest .prest-txt {
    padding-top: 10px;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px black;
    margin-bottom: 0;
  }
  .main_contact .main_prest .prest1 {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .main_contact .main_prest .prest1 img {
    margin: 10px;
    border-radius: 10%;
    box-shadow: 10px 10px 1em purple;
  }
  .main_contact .main_prest .prest2 {
    margin-bottom: 20vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 0;
  }
  .main_contact .main_prest .prest2 img {
    width: 89%;
    box-shadow: 6px 6px 0.5em rgb(0, 81, 0);
    width: 75%;
    margin-left: 10%;
  }
  .main_contact .main_prest .prest3 {
    margin-top: 0;
    width: 90%;
    margin-bottom: -15%;
  }
  .main_contact .main_prest .prest3 p {
    padding-inline-start: 10px;
    font-size: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
