/* verde */
/* nraranja */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "calibri";
}

/*** TOP BAR ***/
.container {
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
}

.topheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  color: rgb(255, 94, 0);
  /*** LOGO ***/
}
.topnav .logo {
  display: flex;
  align-items: center;
}
.topnav .menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topnav .menu li {
  padding: 0 15px;
}
.topnav .menu a {
  color: rgb(255, 94, 0);
  text-decoration: none;
  font-weight: bold;
}
.topnav .open-menu,
.topnav .close-menu {
  display: none;
  justify-content: center;
}

/*** FOOTER ***/
.contenedor-footer {
  display: block;
  align-items: center;
}
.contenedor-footer .redes {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10%;
}
.contenedor-footer .copyright {
  display: flex;
  justify-content: center;
}

/**** SECC INDEX ****/
.main_index {
  height: 100vh;
  background-image: url("../assets/img/index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_index h1 {
  padding-top: 350px;
  font-size: 100px;
}
.main_index h2 {
  font-size: 40px;
}
.main_index span {
  color: rgb(255, 94, 0);
  font-size: 35px;
}
.main_index p {
  font-size: 12px;
}

/**** SECC SUC ****/
.main_suc {
  height: 85vh;
  background-image: url("../assets/img/sucursales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  padding: 3em 0 0 5em;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
}
.main_suc .title {
  color: #fff;
}
.main_suc iframe {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
  height: 18em;
}
.main_suc .form-suc {
  font-size: 18px;
}

/**** SECC SOBRE NOSOTROS ****/
.main_us {
  background-image: url("../assets/img/us.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  padding: 3em 0 0 5em;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
  padding-bottom: 12%;
}

.historia {
  padding: 10em 0 1em 1em;
  color: #000;
  font-size: 14px;
  overflow-y: hidden;
}

.span-1,
.span-2 {
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
}

.span-1 {
  color: rgb(23, 186, 97);
}

.span-2 {
  color: rgb(255, 94, 0);
}

.titulo_us {
  color: rgb(255, 94, 0);
  font-size: 50px;
}

/*CARRUSEL*/
.contenedor_carrusel {
  width: 105%;
  margin-top: 13em;
  display: flex;
  flex-direction: row;
  margin-left: -4.5em;
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
/*ANIMACION - OBRAS SOCIALES*/
.h2-carrusel {
  margin: 4.5% 0 0 10%;
  font-size: 20px;
  text-decoration: underline;
}
.h2-carrusel span {
  color: rgb(23, 186, 97);
}

.carrusel {
  height: 93px;
}

#slider {
  width: 100%;
  background-image: url("../assets/img/sliderObsSoc.png");
  animation: slider 20s infinite linear;
}

@keyframes slider {
  to {
    background-position: 2000px;
  }
}
/**** SECC CONTACTO ****/
.form-contact {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "box-c1 box-c2" "box-c1 box-c2" "box-c1 box-c2" "box-c3 box-c3";
  background-image: url("../assets/img/contacto.jpg");
  background-position: center;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
  border-radius: 20px;
  padding: 3em 0 0 5em;
  margin: 3em;
  box-shadow: 1em 1em 15px rgba(255, 94, 0, 0.85);
  padding-top: 2%;
}

.box-c1 {
  grid-area: box-c1;
}

.box-c2 {
  grid-area: box-c2;
}

.box-c1,
.box-c2 {
  display: grid;
  justify-content: center;
  justify-self: center;
}

.box-c1 p,
.box-c2 p {
  justify-self: center;
}

.box-c3 {
  grid-area: box-c3;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 5px;
}
.box-c3 .reset,
.box-c3 .submit {
  width: fit-content;
}

/**** SECC PRESTACIONES ****/
.grid-prest {
  height: 87vh;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 91, 0, 0.5), #fff);
}
.grid-prest .prest2 {
  margin-top: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-prest .prest2 img {
  border-radius: 10%;
  margin: 10px;
}
.grid-prest .prest3 {
  width: 80%;
  background-image: url();
}

/*********** TABLET 600px ***********/
@media (max-width: 768px) {
  .topnav {
    justify-content: space-evenly;
    /*** LOGO ***/
    /*** MENU ***/
  }
  .topnav .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: rgba(23, 186, 97, 0.5);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
  }
  .topnav .menu li {
    padding: 0;
    padding-bottom: 100px;
  }
  .topnav .menu a {
    color: #fff;
    font-size: 40px;
  }
  .topnav .menu a:hover {
    color: rgb(255, 94, 0);
    transform: scale();
    font-size: 40px;
  }
  .topnav .open-menu,
.topnav .close-menu {
    display: block;
    border: none;
    background-color: none;
    cursor: pointer;
  }
  .topnav .close-menu {
    align-self: flex-end;
    padding: 0px 10px;
  }
  .topnav .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
  .topnav .open-menu img,
.topnav .close-menu img {
    background: none;
  }
  .main_index {
    background-image: url("../assets/img/index-tbl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_index h1 {
    padding-top: 400px;
    font-size: 100px;
  }
  .main_index h2 {
    font-size: 40px;
  }
  .main_index span {
    color: rgb(255, 94, 0);
    font-size: 35px;
  }
  .main_index p {
    font-size: 12px;
  }
  /**** FOOTER - TABLET 600px ****/
  .contenedor-footer {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
  }
  .redes {
    display: flex;
    gap: 110px;
  }
  .box-3 img,
.box-4 img,
.box-5 img {
    margin-bottom: 0;
    margin-left: 0;
  }
  .box-1,
.box-6,
.box-7 {
    display: none;
  }
  .box-2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
