@import "../scss/UTILITIES/mixins";
@import "../scss/UTILITIES/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    font-family: "calibri";
}

/*** TOP BAR ***/

.container {
    width: 100%;
    max-width: 2000px;
    min-width: 320px;


}

.topheader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    color: $color-secundario;

    /*** LOGO ***/
    .logo {
        display: flex;
        align-items: center;
    }

    .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            padding: 0 15px;
        }

        a {
            color: $color-secundario;
            text-decoration: none;
            font-weight: bold;
        }

    }

    .open-menu,
    .close-menu {
        display: none;
        justify-content: center;
    }

}

/*** FOOTER ***/

.contenedor-footer {
    display: block;
    align-items: center;

    .redes {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 10%;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }
}





/**** SECC INDEX ****/
.main_index {
    height: 100vh;
    background-image: url("../assets/img/index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding-top: 350px;
        font-size: 100px;
    }

    h2 {
        font-size: 40px;
    }

    span {
        color: $color-secundario;
        font-size: 35px;
    }

    p {
        font-size: 12px;
    }

}

/**** SECC SUC ****/

.main_suc {
    height: 85vh;
    background-image: url("../assets/img/sucursales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    @include box-shadow;


    .title {
        color: #fff;
    }

    iframe {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50%;
        height: 18em;
    }

    .form-suc {
        font-size: 18px;
    }

}

/**** SECC SOBRE NOSOTROS ****/

.main_us {
    background-image: url("../assets/img/us.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(211, 211, 211);
    @include box-shadow;
    padding-bottom: 12%;

}

.historia {
    padding: 10em 0 1em 1em;
    color: #000;
    font-size: 14px;
    overflow-y: hidden;
}

.span-1,
.span-2 {
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}

.span-1 {
    color: $color-principal
}

.span-2 {
    color: $color-secundario;
}

.titulo_us {
    color: $color-secundario;
    font-size: 50px;
}



/*CARRUSEL*/

.contenedor_carrusel {
    width: 105%;
    margin-top: 13em;
    display: flex;
    flex-direction: row;
    margin-left: -4.5em;
}

@-webkit-keyframes tilt-in-fwd-tl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

/*ANIMACION - OBRAS SOCIALES*/


.h2-carrusel {
    margin: 4.5% 0 0 10%;
    font-size: 20px;

    text-decoration: underline;

    span {
        color: $color-principal;
    }
}

.carrusel {
    height: 93px
}

#slider {
    width: 100%;
    background-image: url("../assets/img/sliderObsSoc.png");
    animation: slider 20s infinite linear;
}



@keyframes slider {
    to {
        background-position: 2000px;
    }
}

/**** SECC CONTACTO ****/

.form-contact {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:

        "box-c1 box-c2"
        "box-c1 box-c2"
        "box-c1 box-c2"
        "box-c3 box-c3"
    ;
    background-image: url("../assets/img/contacto.jpg");
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    @include box-shadow;
    padding-top: 2%;
}

.box-c1 {
    grid-area: box-c1;
}

.box-c2 {
    grid-area: box-c2;
}

.box-c1,
.box-c2 {
    display: grid;
    justify-content: center;
    justify-self: center;
}

.box-c1 p,
.box-c2 p {
    justify-self: center;
}



.box-c3 {
    grid-area: box-c3;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5px;

    .reset,
    .submit {
        width: fit-content
    }
}

/**** SECC PRESTACIONES ****/
.grid-prest {
    height: 87vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(0, 91, 0, 50%), #fff);

    .prest2 {

        margin-top: 60px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);

        img {
            border-radius: 10%;
            margin: 10px;
        }

    }

    .prest3 {
        width: 80%;
        background-image: url();
    }
}

/*********** TABLET 600px ***********/



@media (max-width: 768px) {




    .topnav {
        justify-content: space-evenly;

        /*** LOGO ***/


        /*** MENU ***/
        .menu {
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            align-items: center;
            background-color: rgb(23, 186, 97, 50%);
            height: 100%;
            overflow-y: auto;

            opacity: 0;
            pointer-events: none;

            li {
                padding: 0;
                padding-bottom: 100px;
            }

            a {
                color: #fff;
                font-size: 40px;
            }

            a:hover {
                color: $color-secundario;
                transform: scale();
                font-size: 40px;
            }
        }

        .open-menu,
        .close-menu {
            display: block;
            border: none;
            background-color: none;
            cursor: pointer;
        }

        .close-menu {
            align-self: flex-end;
            padding: 0px 10px;
        }

        .menu_opened {
            opacity: 1;
            pointer-events: all;
        }

        .open-menu img,
        .close-menu img {
            background: none;
        }

    }

    .main_index {
        background-image: url("../assets/img/index-tbl.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            padding-top: 400px;
            font-size: 100px;
        }

        h2 {
            font-size: 40px;
        }

        span {
            color: $color-secundario;
            font-size: 35px;
        }

        p {
            font-size: 12px;
        }
    }

    /**** FOOTER - TABLET 600px ****/

    .contenedor-footer {
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .redes {
        display: flex;
        gap: 110px;
    }

    .box-3 img,
    .box-4 img,
    .box-5 img {
        margin-bottom: 0;
        margin-left: 0;
    }

    .box-1,
    .box-6,
    .box-7 {
        display: none;
    }

    .box-2 {
        display: none;
    }
}