@mixin box-shadow () {
    border-radius: 20px;
    margin: 3em;
    box-shadow: 1em 1em 15px rgb(255, 94, 0, 85%);
}

@mixin grid-props ($col, $row) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
}