@mixin box-shadow () {
    border: 2px solid $color-principal;
    border-radius: 20px;
    margin: 3em;
    box-shadow: 1em 1em 15px $color-principal;
}

@mixin grid-props ($col, $row) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
}