.main_enf,
.main_kine,
.main_nutri {
    display: flex;
    justify-content: center;

    .container-enf,
    .container-nutri {
        width: 75%;
        margin-top: 10vh;
        border: 4px solid green;
        box-shadow: 5px 5px 15px green;
        border-radius: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
        background-color: rgb(255, 255, 255, 70%);

        img {
            float: right;
            width: 50%;
        }

        p {
            color: black;
        }
    }
}

.main_enf {
    background: url("../assets/img/enf.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.main_kine {
    background: url("../assets/img/kine3.png");
    background-size: cover;
}

.main_nutri {
    background: url("../assets/img/nutri2.jpg");
    background-size: contain;

}

.container-kine {
    width: 75%;
    margin-top: 10vh;
    border: 4px solid green;
    box-shadow: 5px 5px 15px green;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;

    .kinesioterapia {
        padding: 20px;
        text-align: justify;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
        background-color: rgb(255, 255, 255, 80%);

        img {
            float: right;
            width: 75%;
            padding: 20px;
        }
    }
}